
@import "../../../../styles.scss";

.image-uploader{
    &__img{
        max-width: 300px;
        height: auto;
    }

    &__icon{
        color: $primary-color;
        font-size: 40px;
        margin: 0;
    }

    &__description{
        margin-top: 5px;
        color: rgba(0, 0, 0, .85);
    }

    &__del-btn{
        margin-top: 10px;
    }
}